<html>
<head>
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="UTF-8">
  <%= partial 'shared/meta_tags' %>
  <%= partial 'shared/favicon' %>

  <%= stylesheet_link_tag "all" %>
</head>
<body>
  <div class="bg-red wrapper error-page">
    <div class="container padded">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1>404</h1>

          <div class="lead">
            Ce que vous cherchez n'est pas ici
          </div>

          <% link_to "/", class: "navbar-wagon-button btn" do %>
            Accueil
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= partial 'shared/footer' %>
</body>
</html>
